body {
  background-image:url("images/wave-surfing-big-waves.jpg");
  bakground-size:100% auto;
  color:yellow;
  text-align: center;
  font-family: "Lora";
}

h1, h2 {
  font-size:4em;
}

p {
  font-family: "Raleway";
}

img {
  float:left;
  width: 200px;
  height: 200px;
}

.profile {
  float:left;
  width:25%

}

.profile > div {
  text-align:left;
  position:absolute;
  padding-top:25px;
  padding-left:25px;
}